/*Below 1200px *Landscape Tablets*/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid-layout {
    margin: 4rem 2rem;
  }

  .first-column {
    grid-row-gap: 2rem;
  }
}

/*******************************/
/*BELOW 944px *Tablets*/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .grid-layout {
    max-width: 90rem;
    grid-template-columns: 1fr;
  }

  .header-logo {
    margin-bottom: 2rem;
  }

  .input {
    width: 90%;
    margin: 0;
  }

  .btn-area {
    margin: 0 0 3rem 0;
    width: 60rem;
  }

  .btn {
    padding: 0 7rem;
    border-radius: 1.6rem;
  }

  .result {
    border-radius: 2.4rem;
    min-height: 30rem;
  }

  .result-off {
    padding: 2rem;
  }

  .result-img {
    display: none;
  }

  .result-on {
    height: 60rem;
  }
}

/*******************************/
/*BELOW 544px *Phones*/

@media (max-width: 34em) {
  .input {
    margin-bottom: 2rem;
  }

  .btn-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .btn {
    height: 6rem;
    padding: 2 8rem;
  }

  .grid-layout {
    height: auto;
  }

  .result {
    margin: 1rem;
  }
}
