* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0.8rem 0.5rem rgba(10, 56, 113, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f5fc;
  font-family: "Inter", sans-serif;
}

.grid-layout {
  margin: 4rem auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 4rem;
}

.header-logo {
  height: 4.8rem;
}

.first-column {
  max-height: 85vh;
  display: grid;
  grid-row-gap: 3rem;
  grid-template-rows: 1fr 17fr 2fr;
}

.entry {
  width: 60rem;
  margin: 0 0 0 auto;
}

.input {
  font-weight: 400;
  color: #072b61;
  border: none;
  background-color: transparent;
  padding: 1rem;
  resize: none;
}

.entry-input {
  font-size: 3rem;
  width: 100%;
  height: 97%;
}

.entry-input::placeholder {
  font-size: 3.2rem;
  color: #0a3871;
}

.entry-info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0 0 1rem;
}

.info-icon {
  width: 1.6rem;
  margin-right: 0.5em;
}

.btn-area {
  margin: 0 0 0 auto;
  width: 60rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding: 0 8rem;
  border-radius: 2.4rem;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #0a3871;
}

.btn-primary:hover {
  background-color: #072b61;
}

.btn-secondary {
  color: #0a3871;
  background-color: transparent;
  border: 2px solid #0a3871;
}

.btn-secondary:hover {
  background-color: rgba(93, 92, 92, 0.084);
}

.result {
  border-radius: 3.2rem;
  background-color: #fff;
  height: 100%;
  text-align: center;
}

.result-off {
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-img {
  width: 30rem;
  margin-bottom: 2rem;
}

.result-title {
  font-weight: 700;
  font-size: 2.4rem;
  color: #343a40;
  margin-bottom: 2rem;
}

.result-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #495057;
  line-height: 2.4rem;
}

.result-on {
  height: 100%;
  padding: 2rem;

  display: none;
}

.result-input {
  font-size: 2rem;
  width: 100%;
  height: 85%;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

.result-input:focus {
  box-shadow: 0 0 0.8rem 0.5rem rgba(214, 214, 214, 0.5);
}
